<h3>Update a cocktail</h3>

<div class="container"></div>
<%= simple_form_for [ @cocktail ] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', cocktails_path %>